<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Adam Beaty</title>
  <meta name="description" content="Adam Beaty">
  <meta name="author" content="Adam Beaty">

  <link rel="stylesheet" type="text/css" href="../css/circle.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <script src="../js/playground.js"></script>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/index">adumbbeaty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/views/projects">Current Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/playground">Playground</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Me</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

<div class="row">
	 <div class="col-sm-3"></div>
	   <div class="col-sm-6">
          
            <div id="board">

            </div>
          </div>
	 <div class="col-sm-3"></div>
  </div>
  <div class="row">
  <div class="col-sm-4"></div>
     <div class="col-sm-6">
      <div id ="spread">
          <button id="add">
            add
          </button>
          <button id="change">
            change color
          </button>
          <button id="reset">
            reset
          </button>
          <button id="move">
            move
          </button>
          </div>
        </div>
   <div class="col-sm-2"></div>
  </div>


</body>
</html>