<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Adam Beaty</title>
  <meta name="description" content="Adam Beaty">
  <meta name="author" content="Adam Beaty">
  <link rel="stylesheet" type="text/css" href="../css/index.css" >
  <link rel="stylesheet" type="text/css" href="../css/circle.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/playground.js"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137251374-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137251374-1');
</script>





</head>

<body>
  
  
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container">
        <a class="navbar-brand" href="/index">adumbbeaty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/views/projects">Current Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views//playground">Playground</a>
            </li>
           
          </ul>
          
        </div>
      </div>
    </nav>




<div class="my-3"></div>
<div class="container">
<div class="row justify-content-center">
<div class="card w-100 p-0">
  <div class="card-header">
    Playground
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

<div class="bd-example bd-example-tabs">
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Circles (In Progress)</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Snake (In Progress)</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
           <div id="board">

            </div>
          </div>
   <div class="col-sm-3"></div>
  </div>
  <div class="row">
  <div class="col-sm-1"></div>
     <div class="col-sm-6">
      <div id ="spread">
          <button id="add">
            add
          </button>
          <button id="change">
            change color
          </button>
          <button id="reset">
            reset
          </button>
          <button id="move">
            move
          </button>
          </div>
        </div>
   <div class="col-sm-2"></div>
  </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p>





          </p>
        </div>
        
    </div>
  </div>
</div>
    </li>
  
  </ul>
</div>
</div>
</div>


          









          <div class="my-5" style="padding:28px;"></div>    


</body>



<footer class="page-footer font-small" style="background-color: #696969">
  <div class="footer-copyright text-center py-3">
    <a href="https://www.adumbbeaty.com" style="color: white"> adumbbeaty.com</a>
  </div>
</footer>

</html>