<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Adam Beaty</title>
  <meta name="description" content="Adam Beaty">
  <meta name="author" content="Adam Beaty">

  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <script src="js/scripts.js"></script>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/index">adumbbeaty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="/views/projects">Current Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/playground">Playground</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav>
<!--                                 Project                           -->
<div class="my-3">
<div class="container">
  <div class="row">
<div class="card w-100 p-0">
  <div class="card-header">
    Audit Utility
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

<div class="bd-example bd-example-tabs">
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Summary</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Demo</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Technology Involved</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">History</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p>
            A third party application for Microsoft Dynamics SL that creates audits for any database table in the currently selected company. The utility offers automatic creation, manually copying the SQL script and deletion of any audits created by the utility.
          </p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p>





          </p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <p><ul>
            <li> Microsoft Dynamics SL</li>
            <li> mySQL </li>
            <li> VBA </li>
          </ul></p>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <p>While at Solomon Cloud Solutions, the idea was proposed as something that would benefit customers in need of constant audit scripts. Creating these scripts are trivial but rather tedious so instead of taking the time to create them, why not have an application that can solve most of these needs?</p>
        </div>
      </div>
    </div>
  </div>
</div>
    </li>
  
  </ul>
</div>
</div>
</div>

<!--                                 Project                           -->
<div class="my-3">
<div class="container">
  <div class="row">
<div class="card w-100 p-0">
  <div class="card-header">
    Scramble Keeper
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

<div class="bd-example bd-example-tabs">
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active show" id="v-pills-home-tab2" data-toggle="pill" href="#v-pills-home2" role="tab" aria-controls="v-pills-home" aria-selected="true">Summary</a>
        <a class="nav-link" id="v-pills-profile-tab2" data-toggle="pill" href="#v-pills-profile2" role="tab" aria-controls="v-pills-profile" aria-selected="false">Demo</a>
        <a class="nav-link" id="v-pills-messages-tab2" data-toggle="pill" href="#v-pills-messages2" role="tab" aria-controls="v-pills-messages" aria-selected="false">Technology Involved</a>
        <a class="nav-link" id="v-pills-settings-tab2" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings" aria-selected="false">History</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade active show" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p>Scramble Keeper aims to provide a basis for information, general inquries and account access for the future Scramble mobile applicaiton. This web application offers account creation, scramble event management, public leaderborads and many other aspects.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p>Scramble Keeper can be accessed <a href="csvm20.cs.bgsu.edu">here</a>.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <p><ul>
            <li> Ubuntu</li>
             <li> Laravel</li>
              <li> Vue</li>
              <li> SQLlite</li>
            <li> Javascript </li>
            <li> CSS </li>
            <li> HTML </li>
          </ul></p>
        </div>
        <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <p> My final year at BGSU as an undergrad entailed CS4540, a software engineering project class. This class is considered to be one of the few that involve a real world work consulting scenario. Townie Cup, a similar project, was iterated semester to semester as a tough project to complete. Involving a web application, two mobile apps and hefty API to integrate it all, Townie Cup sparked the idea for Scramble Keeper.</p>
        </div>
      </div>
    </div>
  </div>
</div>
    </li>
  
  </ul>
</div>
</div>
</div>
<!--                                 Project                           -->
<div class="my-3">
<div class="container">
  <div class="row">
<div class="card w-100 p-0">
  <div class="card-header">
    Personal Website
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

<div class="bd-example bd-example-tabs">
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active show" id="v-pills-home-tab3" data-toggle="pill" href="#v-pills-home3" role="tab" aria-controls="v-pills-home" aria-selected="true">Summary</a>
        <a class="nav-link" id="v-pills-profile-tab3" data-toggle="pill" href="#v-pills-profile3" role="tab" aria-controls="v-pills-profile" aria-selected="false">Technology Involved</a>
        
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade active show" id="v-pills-home3" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <p>An ongoing project to show some of what I can do while providing information about myself.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile3" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p><ul>
            <li> Github Pages</li>
            <li> Javascript </li>
            <li> CSS </li>
            <li> HTML </li>
          </ul></p>
        </div>
        
      </div>
    </div>
  </div>
</div>
    </li>
  
  </ul>
</div>
</div>
</div>





</div>











<div class="my-5"></div>
<footer class="page-footer font-small" style="background-color: #696969">
  <div class="footer-copyright text-center py-3">
    <a href="https://www.adumbbeaty.com" style="color: white"> adumbbeaty.com</a>
  </div>
</footer>


</body>
</html>

